/*********************************************************************************
Generic Styles
*********************************************************************************/

* {
	font-family: 'Open Sans', sans-serif;
	background-color: white;
}
.left {
	float: left;
}
.right {
	float: right;
}
.blue-button:focus {
	outline: none;
}
.blue-button {
	margin: 10px;
	border: none;
	font-size: 18px;
	background-color: rgba(0, 101, 189, .75);
	border-bottom: 6px solid rgba(0, 101, 189, 1);
	text-shadow: 0px -2px #2980B9;
	border-radius: 10px;
	color: white;
}
.blue-button:active {
	transform: translate(0px, 5px);
	-webkit-transform: translate(0px, 5px);
	border-bottom: 1px solid;
}
/*********************************************************************************
Navigation/Tab Style
*********************************************************************************/

ul.tabs {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
ul.tabs li {
	color: #1C1C1C;
	display: inline-block;
	text-decoration: none;
	margin: -3px;
	width: 33.33%;
	padding: 35px 0px 15px 0px;
	cursor: pointer;
}
ul.tabs li.active {
	border-bottom: 3px solid rgba(0, 101, 189, 1);
}
.tab-content {
	display: none;
}
.tab-content.active {
	display: inherit;
}
/*********************************************************************************
Manual Style
*********************************************************************************/

.center-manual {
	position: absolute;
	left: 50%;
	margin-left: -50px;
	top: 50%;
	margin-top: -150px;
}
.left-right {
	margin-left: 75px;
}
.middle {
	margin-left: -147px;
}
.manual-button {
	width: 75px;
	height: 75px;
}
.manual-button.active {
	transform: translate(0px, 5px);
	-webkit-transform: translate(0px, 5px);
	border-bottom: 1px solid;
}
/*********************************************************************************
Instruction Style - Oliver
*********************************************************************************/

.center-instruction {
	position: absolute;
	left: 50%;
	margin-left: -155px;
	top: 40%;
	margin-top: -175px;
	text-align: center;
}
.instruction-button {
	width: 300px;
	height: 50px;
}
.queue-button {
	width: 50px;
	height: 50px;
	margin: 5px;
	font-size: 16px;
	background-color: white;
}
/*********************************************************************************
Instruction Style - Kirsten
*********************************************************************************/

ul {
	list-style-type: none;
	margin: 0px;
	padding: 0;
}
.queue-container {
	margin: 100px 20px 20px 20px;
}
.queue-header h2 {
	margin: 0;
	font-size: 0.8rem;
	text-transform: uppercase;
	font-weight: 600;
	background: none;
}
.queue-add {
	border: none;
	color: white;
	background: rgba(102, 184, 255, .2);
	width: 25px;
	height: 25px;
	border-radius: 25px;
	font-weight: bold;
}
.queue-add:focus {
	outline: none;
}
.queue-add.active {
	transform: rotate(-135deg);
}
.queue-header {
	color: white;
	background: rgba(0, 101, 189, 1);
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 10px;
}
.queue {
	min-height: 50px;
	background: #333333;
	padding: 2.5px;
}
.queue li {
	cursor: pointer;
	padding: 10px;
	margin: 7.5px;
	background: #4D4D4D;
	color: #E6E6E6;
}
.queue li i {
	background: none;
	margin-right: 10px;
}
.queue-options {
	cursor: pointer;
	display: none;
	width: 100%;
	height: 100%;
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	transform: translateX(100%);
	opacity: 0;
	-webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
	transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
.queue-options.active {
	display: inherit;
	padding-top: 10px;
	font-size: 14px;
	background: rgba(0, 101, 189, 1);
}
.queue-options.active ul {
	background: rgba(0, 101, 189, 1);
}
.queue-options.active li {
	margin: 10px;
	padding: 5px;
	color: white;
	background: rgba(255, 255, 255, .1);
}
.queue-options.transform {
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	opacity: 1;
}
.delete-button {
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
	border: none;
	color: white;
	background: rgba(0, 0, 0, .2);
	width: 25px;
	height: 25px;
	border-radius: 25px;
	font-weight: bold;
}
.delete-button:focus {
	outline: none;
}
.center-instruction-buttons {
	position: absolute;
	left: 50%;
	margin-top: -75px;
}
.execute {
	border: none;
	border-bottom: 4px solid #1e7b5b;
	background-color: #39CE9B;
	width: 60px;
	height: 60px;
	border-radius: 60px;
	color: #ebfaf5;
	font-size: 18px;
	margin-left: -65px
}
.execute i {
	background: none;
}
.execute:focus {
	outline: none;
}
.execute:active {
	border-bottom: none;
}
.brake {
	border: none;
	border-bottom: 4px solid #b30000;
	background-color: #ff3333;
	width: 60px;
	height: 60px;
	border-radius: 60px;
	color: #ffe5e5;
	font-size: 18px;
	margin-left: 5px
}
.brake i {
	background: none;
}
.brake:focus {
	outline: none;
}
.brake:active {
	border-bottom: none;
}
/*********************************************************************************
Output Style - Moritz
*********************************************************************************/
.out {
	width: 100%;
	margin: 10px;
}
.out.btn {
	border: none;
	font-size: 22px;
	background-color: rgba(0, 101, 189, .5);
}
.out.btn.stop {
	background-color: #E71A1D !important;
}
.out.console {
	margin: 0 auto;
}

.wmfg_layout_1, table, .wmfg_textarea { font-family: Verdana, Geneva, sans-serif; font-size: 13px; }
.wmfg_layout_1 ul.wmfg_questions { list-style-type: none; margin: 0; padding: 0; }
.wmfg_layout_1 ul.wmfg_questions li.wmfg_q { margin: 10px 0; }
.wmfg_layout_1 label.wmfg_label { display: block; margin: 0 0 5px 0; font-weight:bold; }
.wmfg_layout_1 table.wmfg_answers { width: 100%; _width: 97%; border-collapse: collapse; }
.wmfg_layout_1 table.wmfg_answers { vertical-align: top; }
.wmfg_layout_1 table.wmfg_answers td { padding: 2px; vertical-align: top; }
.wmfg_layout_1 table.wmfg_answers td.wmfg_a_td { width: 25px; }

.wmfg_layout_1 .wmfg_text { border: 1px solid #CCC; padding: 4px; font-size: 13px; color: #000000; width: 98.5%;
background-color: #ffffff;
background:-webkit-gradient(linear,0 0,0 100%,from(#f8f8f8),to(#fff));
background:-moz-linear-gradient(top,#f8f8f8,#fff);
}
.wmfg_layout_1 .wmfg_textarea { border: 1px solid #CCC; padding: 4px; font-size: 13px; color: #000000; width: 98.5%;
background:-webkit-gradient(linear,0 0,0 100%,from(#f8f8f8),to(#fff));
background:-moz-linear-gradient(top,#f8f8f8,#fff);
background-color: #ffffff;
}
.wmfg_layout_1 .wmfg_select { 
border:1px solid #CCCCCC; padding: 3px; font-size: 13px; color: #000000; margin: 0; width: 100%; _width: 97%;
background-color: #ffffff;
background:-webkit-gradient(linear,0 0,0 100%,from(#f8f8f8),to(#fff));
background:-moz-linear-gradient(top,#f8f8f8,#fff);
}
.wmfg_layout_1 .wmfg_btn { 
border: 1px solid #cccccc; cursor: pointer; font-weight: normal; font-size: 13px; padding: 6px; color: #444; font-family: 'lucida grande', tahoma, verdana, arial, sans-serif; 
background: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), color-stop(0.5, #FAFAFA), color-stop(0.5, #E5E5E5), to(#F9F9F9)); 
background: -moz-linear-gradient(top, #FAFAFA, #FAFAFA 50%, #E5E5E5 50%, #F9F9F9);
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FAFAFA', endColorstr='#E5E5E5');
}
.wmfg_layout_1 .wmfg_btn:hover {  
background: -webkit-gradient(linear, left top, left bottom, from(#EDEDED), color-stop(0.5, #EDEDED), color-stop(0.5, #D9D9D9), to(#EDEDED)); 
background: -moz-linear-gradient(top, #EDEDED, #EDEDED 50%, #D9D9D9 50%, #EDEDED);
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#E3326E', endColorstr='#D9D9D9'); 
};
